body {
  margin: 0;
  padding: 0;
  background-color: #84c4ff;
}


.navbar{
  background-color: rgb(143, 168, 236);
  margin-bottom: 20px;
  font-family: 'Bigshot One', cursive;
}


#homenavbar,h2{
  font-size: 50px;
}

#title{
  font-family: 'Bigshot One', cursive;
  font-size: 50px;
}

#navbar{
  font-size: 20px;
}


#imgbtn{
  text-align: center;
}


#btsbtn, #txtbtn, #enhypenbtn, #svtbtn{
  margin-right: 30px;
}


.btn{
  background-color: pink;
  margin-bottom: 30px;
}

.btn:hover{
  background-color: rgb(255, 167, 182);
}

.media{
  margin-left: 30px;
  margin-bottom: 30px;
  width: 100%;
}

#btsimg{
  margin-right: 30px;
}

h1, h2, h3{
  font-family: 'Lalezar', cursive;
}

h2{
  margin-left: 30px;
}


.table{
  background-color: pink;
}


.table, tr, th, td{
  border:2px pink;
}

